---
export interface Props {
	title: string;
	description: string;
  betOptions: string[];
  betPercentage: number[];
}

const {title, description, betOptions, betPercentage} = Astro.props;

---

<div class="market-wrapper">
  <div class="market-card">
    <ul class="market-list">
      <li><h3>{title}</h3></li>
      <li>{description}</li>
      <br />
      <ul class="triplet_grid">
        {betOptions.map((option, index) => (
          <li key={index}>
            <h3>{option}</h3>
            ({betPercentage[index]}%)
          </li>
        ))}
      </ul>
    </ul>
  </div>
</div>



<style>
    .market-wrapper {
        justify-content: center;
        align-items: center;
        height: 35vh;
    }
    .market-list {
        list-style: none;
    }
    .market-card {
        background: skyblue;
        width: 600px;
        padding: 10px;
        margin-bottom: 20px;
        flex-direction: column;
    }
    .triplet_grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      margin-bottom: 2rem;
      border: 1px solid rgba(var(--accent-light), 45%);
      background: linear-gradient(rgba(var(--accent-light), 66%), rgba(var(--accent-light), 33%));
      padding: 1.5rem;
      border-radius: 8px;
	  }
</style>